n8n/brand-chatbot-sample.json
{
  "name": "Brand Chatbot Sample (n8n Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-bot"
      },
      "id": "Webhook_POST",
      "name": "Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nconst message = body.message ?? body.body?.message ?? '';\nconst sessionId = body.sessionId ?? body.body?.sessionId ?? '';\nreturn [{ reply: `You said: ${message}`, sessionId }];"
      },
      "id": "Function_BuildReply",
      "name": "Build Reply",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200,
        "options": {
          "responseHeaders": {
            "entries": [
              {"name":"Content-Type","value":"application/json"},
              {"name":"Access-Control-Allow-Origin","value":"*"},
              {"name":"Access-Control-Allow-Headers","value":"Content-Type, x-api-key"},
              {"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"}
            ]
          }
        }
      },
      "id": "Respond_JSON",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "brand-bot"
      },
      "id": "Webhook_OPTIONS",
      "name": "Webhook (OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        500
      ]
    },
    {
      "parameters": {
        "responseCode": 204,
        "options": {
          "responseHeaders": {
            "entries": [
              {"name":"Access-Control-Allow-Origin","value":"*"},
              {"name":"Access-Control-Allow-Headers","value":"Content-Type, x-api-key"},
              {"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"}
            ]
          }
        }
      },
      "id": "Respond_Preflight",
      "name": "Respond Preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        500
      ]
    }
  ],
  "connections": {
    "Webhook (POST)": {
      "main": [
        [
          {
            "node": "Build Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (OPTIONS)": {
      "main": [
        [
          {
            "node": "Respond Preflight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetup": true
  }
}


